@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --color-primary:#4CAF4F;
    --color-on-primary:white;
    --color-natural-silver: #F5F7FA;
    --color-text:#18191F;
    --color-background-silver: #F5F7FA;
    --containter-max-width: 1152px;
    --color-natural-gray:#717171;
    --color-headline-text:#4D4D4D;
    --color-black:#263238;
    --color-natural-white:#FFF;
    --footer-max-width:550px;
    --color-secondary:#00AEEF;
}
body {
    color:var(--color-text);
    font-family: "Inter", serif;
    margin:0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 16px;
    background-color: var(--color-background-silver);
}
header>nav>ul {
    list-style-type: none;
    display:flex;
    flex-direction: row;
    gap: 16px;
    font-weight:500;
    text-decoration: none;
    margin-top: 0px;
}
.header-link>a {
    color:var(--color-primary);
}
.header-link>a:hover {
    color:var(--color-secondary);
}
a {
    text-decoration: none;  
}
.main__container {
    display:flex;
    align-items:center;
    justify-content: space-between;
    max-width:var(--containter-max-width);
    margin:auto;
    padding-bottom: 24px;
}
.main__container-background {
    background-color: var(--color-background-silver);
}
.why {
    font-size: 40px;
}
.why-space {
    max-width:1000px;
    margin:auto;
}
h1 {
    font-weight:600;
    font-size:64px;
}
.first-how_to_play {
    max-width: 400px;
    margin-bottom:18px;
}
.third-how_to_play {
    display:flex;
    flex-direction:column;
    max-width: 450px;
    margin-bottom:18px;
    margin:auto;
    align-items:center;
}
.second-how_to_play {
    margin:auto;
    max-width:500px;
    align-items:center;
}
.btn-link {
    display:inline-block;
    color:var(--color-on-primary);
    background-color:var(--color-primary);
    padding: 14px 32px;
    border-radius:4px;
}
.flags {
    display:flex;
    justify-content: space-between;
    max-width: var(--containter-max-width);
    margin:auto;
}
h2 {
    font-weight:600;
    font-size:36px
}
.flags-container {
    text-align:center;
}
.flags-container>p {
    color:var(--color-natural-gray);
}
.flags-container>h2 {
    margin-bottom:0;
}
footer {
    display:flex;
    align-items:center;
    justify-content: space-between;
    text-align:center;
    padding: 16px;
    background-color:var(--color-black);
    color:var(--color-natural-white);
}
.footer2 {
    text-align: right;
}
.similar {
    text-align:center;
    max-width:var(--containter-max-width);
    margin:auto;
    margin-top:32px;
    margin-bottom:32px;
}
.similar_container {
    display:flex;
    justify-content:space-around;
    gap:125px;
    margin-top: 36px;
}
.similar_container>article>h3 {
    font-size:28px;
    font-weight:700;
}
.similar_container>article>span {
    color:var(--color-natural-gray);
}
.similar>h2 {
    margin-bottom:0;
}
.similar>p {
    color:var(--color-natural-gray);
}
h1,h2,h3 {
    color:var(--color-headline-text);
}
.footer_links>a {
    color:var(--color-primary);   
}
.footer_links>a:hover {
    color:var(--color-secondary)
}

.similar_container>article {
    min-width:150px;

}
header {
    position: sticky;
}
.link {
    display:inline-block;
    color:var(--color-on-primary);
    background-color:var(--color-primary);
    padding: 14px 32px;
    border-radius:4px;
    font-size: 15px;
    margin: 5px;
}
#Flagle-Game-link {
    height:75px;
    font-size: 27px;
}
.flagle-game {
    margin:0px;
    padding:0px;
    border-radius:0px;
}
.similar_websites {
    margin:35px;
}
.footer-last {
    margin-bottom: auto;
}
.similar_container>article>img {
    height: 130px;
    width:200px;
    object-fit: cover;
    border-radius: 8px;
}
#container_image1 {
    width:130px;
}
#container_image2 {
    height:300px;
}
#container_image3 {
    width:400px;
    height:200px;
}
.fist-how_to_play>p {
    color:var(--color-natural-gray);
}

#home {
    font-size: 50px;
}
#home-header {
    display:flex;
    align-items:center;
}
#footer-text {
    color:red;
}
.footer_links {
    display:flex;
    gap:16px;
    justify-content: end;
}
#burger-button {
    display: none;
}
.about-me {
    font-size: 30px;
}
.footer {
    max-width:100%;
}
/* Мобильные устройства */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header > .logo-container {
        width: 100%;
        display: flex;
        justify-content: inherit;
        align-items: center;
    }

    #burger-button {
        display: block;
        fill: var(--color-black);
    }

    #header-nav {
        width: 100%;
        background-color: var(--color-natural-white);
        border-radius: 12px;
        margin-top: 24px;
        transition: height 0.5s ease;
        overflow: clip;
        
    }

    header > nav > ul {
        flex-direction: column;
        gap: 8px;
    }

    .main__container {
        flex-direction: column;
        align-items: center;
    }

    .first-how_to_play {
        max-width: 100%;
        text-align: center;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    .similar_container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .similar_container > article {
        min-width: 100%;
        text-align: center;
    }

    .flags {
        flex-direction: column;
        align-items: center;
    }

    .flags img {
        width: 30%;
        max-width: 150px;
    }

    .btn-link, .link {
        padding: 10px 20px;
        font-size: 14px;
    }

    footer {
        flex-direction: column;
    }
}
.header-nav2 {
    a:link{color:var(--color-primary);}
    a:hover {color:var(--color-secondary);}
}