body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #3633f1 0%, #ecd713 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
a {
    font-size: 2em;
    text-decoration: none;
    color: rgb(17, 0, 255);
    background-color: #ffcc00;
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease;
}
.by {
    font-size: 30px;
}
a:hover {
    background-color: #003cff;
    color:#ffcc00;
    transform: scale(1.1);
}
#admin-log {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #003cff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
    color:white;
}
#admin-log:hover {
    background-color: white;
    color: #003cff;
    transform: scale(1.1);
    padding:15px;
    border-radius:5px;
}