.nugget_clicker {
    display: flex;
    width: 100%;
    flex-direction: row;
    min-height: 100vh; /* Let it grow beyond screen height */
}

.cookie {
    width: 100vw;
    background-image: url("cappybara-background.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh; /* allows scroll growth */
    height: auto; /* lets it expand as needed */
}

.controls {
    width: 70vw;
    background-color: cyan;
    min-height: 100vh;
}

body {
    margin: 0;
    min-height: 100vh;
}

.clicker {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px dotted lightblue;
    background-color: yellow;
}
.clicker:hover {
    background-color:purple;
    color:white;
}

.amount {
    color: black;
}

.multiplier {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px dotted black;
    background-color: red;
}
.multiplier:hover {
    background-color:green;
}

.clicker_multiplier {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px dotted yellow;
    background-color: black;
    color: white;
}
.clicker_multiplier:hover {
    background-color:white;
    color:black;
}
.store {
    display:flex;
    flex-direction: row;
    height:50vh;
    align-content:space-around;
    flex-wrap: wrap;
    align-items:center;
    align-items: center;
    justify-content:space-around;
}
.item {
    border: black 5px double;
    display:inline-block;
}
.item:hover {
    border-left:white 10px dotted;
    border-right: beige 7px double;
    border-top: pink 5px dashed;
    border-bottom: red 10px groove;
    cursor:pointer;
}
button:hover {
    background-color:black;
    color:white;
    border: white 10px groove;
}
.nugget {
    height: 200px;
    display: inline-block;
    transition: transform 0.4s ease-in-out;
}
.nugget:hover {
    transform: scale(1.5);
}
.center:hover {
    background-color: lightgreen;
}